body {
  position: relative;
}

div.ui.container {
  padding: 30px 0 300px;
  max-width: 600px !important;
}

.post-form {
  right: 0;
  left: 0;
  position: fixed;
  bottom: 0;
  background-color: #f9f6f6;
  z-index: 100;
  -webkit-box-shadow: 0px 1px 4px 4px #C4C4C4; 
  box-shadow: 0px 1px 4px 4px #C4C4C4;
}

.post-form form {
  width: 75%;
  margin: auto;
  padding: 20px;
}

.extra.content button {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .menu .item {
    font-size: 11px;
  }
}